Repository stabilitydao/stability-contracts, pull requests merged in 2024-01, with the labels that each got.

#77 24.01.0-alpha
  chains/PolygonLib.sol
  script/PrepareUpgrade.24.01.0-alpha.Polygon.s.sol
  src/core/Factory.sol
  src/core/base/VaultBase.sol
  src/core/libs/CommonLib.sol
  src/core/libs/RVaultLib.sol
  src/core/libs/VaultStatusLib.sol
  src/core/vaults/CVault.sol
  src/core/vaults/RMVault.sol
  src/core/vaults/RVault.sol
  src/interfaces/IControllable.sol
  src/interfaces/IFactory.sol
  src/interfaces/IRVault.sol
  src/interfaces/IVault.sol
  src/strategies/QuickswapV3StaticFarmStrategy.sol
  src/strategies/libs/UniswapV3MathLib.sol
  src/test/MockStrategy.sol
  src/test/MockVaultUpgrade.sol
  test/adapters/AlgebraAdapter.Polygon.t.sol
  test/adapters/KyberAdapter.Polygon.t.sol
  test/adapters/UniswapV3Adapter.Polygon.t.sol
  test/base/ChainSetup.sol
  test/base/UniversalTest.sol
  test/base/chains/PolygonSetup.sol
  test/core/Factory.t.sol
  test/core/Platform.Polygon.t.sol
  test/core/PriceReader.t.sol
  test/core/RMVault.Polygon.t.sol
  test/core/Swapper.Polygon.t.sol
  test/core/Vault.t.sol
  test/core/Zap.Polygon.t.sol
  test/strategies/QSF.Polygon.t.sol
Labels: enhancement, VAULT, PLATFORM UPGRADE

#79 CompoundFarm
  chains/PolygonLib.sol
  script/DeployCF.Polygon.s.sol
  script/libs/DeployStrategyLib.sol
  src/integrations/compound/IComet.sol
  src/integrations/compound/ICometRewards.sol
  src/strategies/CompoundFarmStrategy.sol
  src/strategies/libs/StrategyDeveloperLib.sol
  src/strategies/libs/StrategyIdLib.sol
  src/strategies/libs/StrategyLib.sol
  test/base/UniversalTest.sol
  test/strategies/CF.Polygon.t.sol
Labels: STRATEGY

#82 DQMF, v24.01.1-alpha
  chains/PolygonLib.sol
  script/PrepareUpgrade.24.01.1-alpha.Polygon.s.sol
  script/libs/DeployStrategyLib.sol
  src/adapters/AlgebraAdapter.sol
  src/adapters/KyberAdapter.sol
  src/adapters/UniswapV3Adapter.sol
  src/core/Factory.sol
  src/core/libs/CommonLib.sol
  src/core/libs/FactoryLib.sol
  src/integrations/chainlink/IFeedRegistryInterface.sol
  src/integrations/defiedge/IDefiEdgeStrategy.sol
  src/integrations/defiedge/IDefiEdgeStrategyFactory.sol
  src/strategies/DefiEdgeQuickSwapMerklFarmStrategy.sol
  src/strategies/libs/ALMPositionNameLib.sol
  src/strategies/libs/LPStrategyLib.sol
  src/strategies/libs/StrategyDeveloperLib.sol
  src/strategies/libs/StrategyIdLib.sol
  test/base/UniversalTest.sol
  test/core/Platform.Polygon.t.sol
  test/strategies/DQMF.Polygon.t.sol
Labels: STRATEGY, PLATFORM UPGRADE

#86 IQMF strategy
  chains/PolygonLib.sol
  script/DeployStrategyIQMF.Polygon.s.sol
  script/libs/DeployStrategyLib.sol
  src/integrations/ichi/IICHIVault.sol
  src/strategies/IchiQuickSwapMerklFarmStrategy.sol
  src/strategies/libs/IQMFLib.sol
  src/strategies/libs/StrategyDeveloperLib.sol
  src/strategies/libs/StrategyIdLib.sol
  test/base/UniversalTest.sol
  test/strategies/IQMF.Polygon.t.sol
Labels: STRATEGY
