Repository stabilitydao/stability-contracts, pull requests merged in 2024-05, with the labels that each got.

#116 24.05.0-alpha; ERC4626StrategyBase, YearnStrategy, StrategyBase 1.1.0
  chains/PolygonLib.sol
  script/PrepareUpgrade.24.05.0-alpha.Polygon.s.sol
  script/libs/DeployStrategyLib.sol
  src/core/Factory.sol
  src/core/base/VaultBase.sol
  src/core/libs/FactoryLib.sol
  src/core/libs/VaultBaseLib.sol
  src/core/vaults/CVault.sol
  src/core/vaults/RMVault.sol
  src/core/vaults/RVault.sol
  src/integrations/yearn/IYearnVault.sol
  src/interfaces/IFactory.sol
  src/interfaces/IStrategy.sol
  src/interfaces/IVault.sol
  src/strategies/YearnStrategy.sol
  src/strategies/base/ERC4626StrategyBase.sol
  src/strategies/base/StrategyBase.sol
  src/strategies/libs/StrategyDeveloperLib.sol
  src/strategies/libs/StrategyIdLib.sol
  src/strategies/libs/StrategyLib.sol
  src/test/MockVaultUpgrade.sol
  test/base/FullMockSetup.sol
  test/base/MockSetup.sol
  test/base/UniversalTest.sol
  test/core/RMVault.Polygon.t.sol
  test/core/Vault.t.sol
  test/strategies/Y.Polygon.t.sol
Labels: enhancement, STRATEGY, BASE STRATEGY, PLATFORM UPGRADE

#129 refactor PolygonLib
  chains/PolygonLib.sol
  script/DeployStrategyIRMF.Polygon.s.sol
  src/integrations/defiedge/IDefiEdgeStrategy.sol
  test/base/chains/PolygonSetup.sol
  test/strategies/QSMF.Polygon.t.sol
Labels: refactoring

#119 Update docs, scopes
  .gitignore
  ADM.md
  CONTRIBUTING.md
  README.md
  audits/initial-audit-stability-platform-v24.01.1-alpha.md
  audits/scopes.md
  src/core/README.md
Labels: documentation

#135 FarmingStrategyBase stakingPool
  src/interfaces/IFarmingStrategy.sol
  src/strategies/CompoundFarmStrategy.sol
  src/strategies/CurveConvexFarmStrategy.sol
  src/strategies/DefiEdgeQuickSwapMerklFarmStrategy.sol
  src/strategies/GammaQuickSwapMerklFarmStrategy.sol
  src/strategies/GammaRetroMerklFarmStrategy.sol
  src/strategies/IchiQuickSwapMerklFarmStrategy.sol
  src/strategies/IchiRetroMerklFarmStrategy.sol
  src/strategies/QuickSwapStaticMerklFarmStrategy.sol
  src/strategies/base/FarmingStrategyBase.sol
  test/base/UniversalTest.sol
Labels: enhancement, STRATEGY UPGRADE

#134 MerklStrategyBase, strategies upgrade
  chains/PolygonLib.sol
  remappings.txt
  script/DeployUpdateStrategies.Polygon.s.sol
  src/integrations/merkl/IMerklDistributor.sol
  src/interfaces/IMerklStrategy.sol
  src/strategies/DefiEdgeQuickSwapMerklFarmStrategy.sol
  src/strategies/GammaQuickSwapMerklFarmStrategy.sol
  src/strategies/GammaRetroMerklFarmStrategy.sol
  src/strategies/IchiQuickSwapMerklFarmStrategy.sol
  src/strategies/IchiRetroMerklFarmStrategy.sol
  src/strategies/QuickSwapStaticMerklFarmStrategy.sol
  src/strategies/base/MerklStrategyBase.sol
  src/strategies/libs/GRMFLib.sol
  src/strategies/libs/IRMFLib.sol
  test/base/UniversalTest.sol
  test/strategies/DQMF.Upgrade.Polygon.t.sol
  test/strategies/GRMF.Upgrade.Polygon.t.sol
  test/strategies/IQMF.Polygon.t.sol
  test/strategies/IRMF.Upgrade.Polygon.t.sol
  test/strategies/Libs.t.sol
Labels: refactoring, BASE STRATEGY, STRATEGY UPGRADE

#133 fix: Ichi-getSpecificName() returns symbol
  script/DeployUpdateStrategyIQMF.Polygon.s.sol
  src/strategies/IchiQuickSwapMerklFarmStrategy.sol
  src/strategies/IchiRetroMerklFarmStrategy.sol
Labels: STRATEGY UPGRADE
